extends layout 
block content
    h1= title
    div(class="add-post-form-div")
        form(action="" method="POST" class="add=post-form" enctype="multipart/form-data")
            div(class="form-floating mb-3")
                input(type="text" class="form-control" name="title" id="title" placeholder="Title of the post")
                label(for="title") Post Title 
            div(class="form-floating mb-3")
                input(type="textarea" class="form-control" name="description" id="description" placeholder="Title of the post" style="height: 100px")
                label(for="description") Description
            div(class="form-group")
                input(type="file" class="form-control" name="images" id="images" multiple accept="image/*")
                label(for="images") Upload Images
            input#user.form-control(type="hidden", name="user", value=user._id)
            br
            button(type="submit" class="btn btn-info btn-lg") Post