extends layout 
block content 
    if errors 
        div(style='margin-left:20px;margin-top:20px')
            h3 Error
            each error in errors 
                p(class="error-text" style="color:red;") #{error.msg}
    else
        div(class="card")
            div(class="card-body")
                h5(class="card-title") Delete Post 
                p("card-text") Do you really want to delete this post?
                form(method='POST')
                div.form-group
                    form(method="POST")
                        input#postid.form-control(type='hidden', name='postId', value=post._id)
                        button.btn.btn-danger(type='submit') Delete Post
            