extends layout

block content
    h1= title 
    div(class="btn-group")
        a(class="btn btn-primary login-btn btn-lg" href="/users/login") Login
        a(class="btn btn-success signup-btn btn-lg" href="/users/signup") Sign up