extends layout 
block content 
    div(class="card")
        div(class="card-body")
            h5(class="card-title") Delete Account 
            p("card-text") Do you really want to delete your account?
            form(method='POST')
                div.form-group
                    form(method="POST" action="/users/profile/delete")
                        input#userid.form-control(type='hidden', name='postId' value=user._id)
                        button.btn.btn-danger(type='submit') Delete Account